.oceanSixNFTPosterSizing{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  margin: auto auto;
}

.oceanSixNFTPosterSizingFramed{
  width: 20vw;
  height: auto;
  margin: auto auto;
}


.frame22 {
  border: 2px solid #ffffffce;
  width: max-content;
  height: max-content;
  border-radius: 20px;
}